.center {
	margin-right: auto;
	margin-left: auto;
}

.element {
	width: 840px;
	padding: 20px;
/*	border-color: #656565;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;*/
}

#map {
	/*border:1px solid #d3d3d3;*/
	float: left;
	cursor: pointer;
}
