
* {
	font-family: Arial;
}

p {
	/*text-indent: 18pt;*/
	margin-bottom: 12pt;
	font-size: 13pt;
}

h1 {
	font-weight: lighter;
	font-size: 40pt;
	text-align: center;
}

h2 {
	padding-top: 120px;
	font-weight: lighter;
	font-size: 17pt;
}

li {
	padding-bottom: 10pt;
	font-size: 13pt;
}
