
* {
	font-family: Arial;
}

p {
	/*text-indent: 18pt;*/
	margin-bottom: 12pt;
	font-size: 13pt;
}

p.orchestraItem {
	margin-bottom: 18pt;
	font-size: 12pt;
	min-height: 40pt;
}

img.orchestraImage {
	height: 50px;
	border-radius: 25px;
}

.floatLeft {
	float: left;
	margin-right: 10px; 
}

.floatRight {
	float: right;
	margin-left: 10px;
}

h1 {
	font-weight: lighter;
	font-size: 40pt;
	text-align: center;
}

h2 {
	padding-top: 70px;
	font-weight: lighter;
	font-size: 17pt;
}

li {
	padding-bottom: 10pt;
	font-size: 13pt;
}

.footer {
	clear: both;
	font-size: 8pt;
	color: gray;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 100px;
}

a.orchestraNameLink {
	color: #6A6A6A;
	font-size: 12.2pt;
	font-weight: lighter;
	text-decoration: none;

}

a.nostyle {
	color: inherit;
	text-decoration: none;
	border: none;
}

.underlineOnHover {
	text-decoration: none;
}

.underlineOnHover:hover {
	text-decoration: underline;
}